{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    {% for doctor in doctors %}
    <div class="col-lg-4">
        <div class="box-element product">
            <img class="thumbnail" src="{{doctor.get_img}}" alt="">
            <br>
            <br>
            <h6><strong>{{doctor.name}}</strong></h6>
            <hr>
            <button data-doctor="{{doctor.id}}" data-action="add" class="btn btn-outline-success add-btn make-appointment">Take Appointment</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right">৳{{doctor.fees|floatformat:0}}/10min</h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}