<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/montserrat-font.css'%}">
	<link rel="stylesheet" type="text/css"
		href="{%static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="{%static 'css/signup.css'%}">
</head>

<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="POST" method="post" id="myform">
				<div class="form-left">
					<h2>General Infomation</h2>
					<div class="form-row">
						<span class="select-btn">
							<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							{{form.fname}}
						</div>
						<div class="form-row form-row-2">
							{{form.lname}}
						</div>
					</div>
					<div class="form-row">
						{{form.email}}
					</div>
					<div class="form-row">
						{{form.password1}}
					</div>
					<div class="form-row">
						{{form.password1}}
					</div>
					<div class="form-date-group">
						<div class="form-row">
							{{form.bdate}}
						</div>
					</div>

				</div>
				<div class="form-right">
					<h2>Additional Information</h2>
					<div class="form-row">
						<input type="text" name="additional" class="additional" id="additional"
							placeholder="Credit card" required>
					</div>
					<div class="form-row">
						<input type="text" name="street" class="street" id="street" placeholder="Street + Nr" required>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" required>
						</div>
						<div class="form-row form-row-2">
							<select name="place">
								<option value="place">Place</option>
								<option value="Street">Street</option>
								<option value="District">District</option>
								<option value="City">City</option>
							</select>
							<span class="select-btn">
								<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
					</div>
					<div class="form-row">
						<select name="District">
							<option value="---">District</option>
							<option value="Dhaka">Dhaka</option>
							<option value="Rajsahi">Rajsahi</option>
							<option value="Chittagong">Chittagong</option>
							<option value="Barishal">Barishal</option>
							<option value="Sylhet">Sylhet</option>
						</select>
						<span class="select-btn">
							<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<select name="Phone">
								<option value="---">Phone</option>
								<option value="01">01</option>
								<option value="02">02</option>
							</select>
							<span class="select-btn">
								<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number"
								required>
						</div>
					</div>
					<div class="form-checkbox">
						<label class="container">
							<p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
							<input type="checkbox" name="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register Badge">
					</div>
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>